.Login {
    background-image: url('https://images.pexels.com/photos/1002740/pexels-photo-1002740.jpeg?cs=srgb&dl=bar-cafe-caffeine-1002740.jpg&fm=jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%; 
}