.LoginFormStyle {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: all .4s !important;
    border-radius: 1rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .99) !important;
}

@media(max-width: 500px) {
    .LoginFormStyle {
        padding-top: 50%;
    }
}

@media(max-width: 600px) {
    .LoginFormStyle {
        padding-top: 30%;
    }
}
